.container {
  &-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .video {
      width: 320px;
      height: 240px;
    }
  }

  &-horizontal {
    display: flex;
    gap: 10px;
  }
}

.options {
  align-self: flex-start;
}

.select {
  width: 300px;
}
