<div class="container">
  <nav class="header">
    <ul>
      <li><a routerLink="/get-user-media/basic" routerLinkActive="active-link">Basic demo</a></li>
      <li><a routerLink="/get-user-media/canvas" routerLinkActive="active-link">Canvas snapshot</a></li>
      <li><a routerLink="/get-user-media/filter" routerLinkActive="active-link">Canvas snapshot + Filter</a></li>
      <li><a routerLink="/get-user-media/resolution" routerLinkActive="active-link">Select resolution</a></li>
      <li><a routerLink="/get-user-media/audio" routerLinkActive="active-link">Audio</a></li>
      <li><a routerLink="/get-user-media/record" routerLinkActive="active-link">Record</a></li>

    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
