.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;

  nav {
    width: 100%;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--black);

    &:hover {
      .active-link {
        background-color: initial;
        color: initial;
        transition: 0.2s ease-in-out all;
      }
    }

    &>ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    & li {
      padding: 16px;

      &:hover {
        background-color: red !important;
        color: white !important;
        transition: 0.2s ease-in-out all;
        cursor: pointer;
      }
    }
  }
}
