<div class="container">
  <nav>
    <ul>
      <li matRipple routerLinkActive="active-link"><a routerLink="/get-user-media/basic">Basic demo</a></li>
      <li matRipple routerLinkActive="active-link"><a routerLink="/get-user-media/canvas">Canvas snapshot</a></li>
      <li matRipple routerLinkActive="active-link"><a routerLink="/get-user-media/filter">Canvas snapshot + Filter</a></li>
      <li matRipple routerLinkActive="active-link"><a routerLink="/get-user-media/resolution">Select resolution</a></li>
      <li matRipple routerLinkActive="active-link"><a routerLink="/get-user-media/audio">Audio</a></li>
      <li matRipple routerLinkActive="active-link"><a routerLink="/get-user-media/record">Record</a></li>
      <li matRipple routerLinkActive="active-link"><a routerLink="/get-user-media/pan-tilt-zoom">Pan-Tilt-Zoom</a></li>
      <li matRipple routerLinkActive="active-link"><a routerLink="/get-user-media/exposure">Exposure</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
