.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

nav li {
  padding: 16px;
}

nav li:hover {
  font-weight: var(--font-weight-bold);
}
