.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  align-self: center;
}

.video {
  width: auto;
  height: auto;
  margin-inline: auto;
  margin-bottom: 20px;
}

.slider-wrapper {
  margin-inline: auto;
}

mat-slider {
  margin-left: 20px;
  width: 300px;
}

.active {
  display: none;
}
