.container {
  padding-bottom: 100px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.video {
  display: block;
  width: 640px;
  height: 480px;
  background: black;
  margin-inline: auto;
  margin-bottom: 20px;
}

.slider-wrapper {
  width: 640px;
  margin-inline: auto;
}

mat-slider {
  width: 300px;
}
