// Header Styles
header.container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin: auto;
  justify-content: center;
  align-items: center;

  nav {
    width: 100%;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;

    &:hover {
      .active-link {
        background-color: initial;
        color: initial;
        transition: 0.2s ease-in-out all;
      }
    }

    &>ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-block: 0px;

      li {
        padding: 16px;

        &:hover {
          background-color: $red !important;
          color: $white !important;
          transition: 0.2s ease-in-out all;
          cursor: pointer;
        }
      }
    }
  }
}
