// Header Styles
header.container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin: auto;
  justify-content: center;
  align-items: center;

  nav {
    width: 100%;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;

    &>ul {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      &:hover {
        .active-link {
          background-color: initial;
          color: initial;
          transition: 0.2s ease-in-out all;
        }
      }

      li {
        padding: 16px;

        &:hover {
          background-color: $red !important;
          color: $white !important;
          transition: 0.2s ease-in-out all;
          cursor: pointer;
        }
      }
    }
  }
}
