// Header Styles
header.container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin: auto;
  justify-content: center;
  align-items: center;

  nav > ul {
    display: flex;
    align-items: center;
    margin-block: 0px;

    li {
      padding: 16px;
    }

    li:hover {
      font-weight: var(--font-weight-bold);
    }
  }
}
