@use "@angular/material" as mat;

@include mat.core();

$color-red: #FF0000;
$color-white: #FFFFFF;

$palette-red: (
  50: #FF0000,
  100: #FF0000,
  200: #FF0000,
  300: #FF0000,
  400: #FF0000,
  500: #FF0000,
  600: #FF0000,
  700: #FF0000,
  800: #FF0000,
  900: #FF0000,
  A100: #FF0000,
  A200: #FF0000,
  A400: #FF0000,
  A700: #FF0000,
  contrast: (50: #FFFFFF,
    100: #FFFFFF,
    200: #FFFFFF,
    300: #FFFFFF,
    400: #FFFFFF,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #FFFFFF,
    A200: #FFFFFF,
    A400: #FFFFFF,
    A700: #FFFFFF,
  ),
);

$my-app-primary: mat.define-palette($palette-red);
$my-app-accent: mat.define-palette($palette-red);

$custom-typography: mat.define-typography-config(
  $font-family: 'Karla, sans-serif',
  $body-1: mat.define-typography-level(16px, 24px, 500)
);

$my-app-theme: mat.define-light-theme((
  color: (
    primary: $my-app-primary,
    accent: $my-app-accent,
  ),
  typography: $custom-typography,
  density: 0,
));

@include mat.all-component-themes($my-app-theme);

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: Karla, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

body {
  margin: 0;
  height: 100vh;
}

html * {
  font-size: 1.6rem;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}

.mdc-button, .mdc-button--raised {
  font-weight: 600;
}

nav li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
}

nav li a:visited {
  text-decoration: none;
}

.active-link {
  font-size: 1.8rem;
  font-weight: 600;
}
