@use "@angular/material" as mat;

@import "@angular/material/theming";

$custom-typography: mat.define-typography-config($font-family: "Karla, sans-serif",
    $headline: mat.define-typography-level(32px, 48px, 700),
    $body-1: mat.define-typography-level(16px, 24px, 500),
  );

@include mat.core($custom-typography);

$palette-rc-red: (
  50: red,
  100: red,
  200: red,
  300: red,
  400: red,
  500: red,
  600: red,
  700: red,
  800: red,
  900: red,
  A100: red,
  A200: red,
  A400: red,
  A700: red,
  contrast: (50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$my-app-primary: mat.define-palette($palette-rc-red);
$my-app-accent: mat.define-palette($palette-rc-red);
$my-app-theme: mat.define-light-theme($my-app-primary, $my-app-accent);

@include mat.all-component-themes($my-app-theme);

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: Karla, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

body {
  margin: 0;
  height: 100vh;
}

html * {
  font-size: 1.4rem;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}

button {
  background-color: red;
  color: white;
  font-weight: 600;
}

nav li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
}

nav li a:visited {
  text-decoration: none;
}

.active-link {
  font-size: 1.8rem;
  font-weight: 600;
}
